/**
    Basic Portfolio Layout for the Header / Body of each page
**/
* {
    box-sizing: border-box;
}

.clearfix:after {
    content: "";
    display: table;
    clear: both;
  }

body {
    margin: 0;
    padding: 0;
}

header {
    background: #ffffff;
    float: left;
    margin-bottom: 30px;
    width: 100%;
    border-bottom: 1px solid #cccccc; 
    position: relative;
    overflow: auto;
    height: 70px;
}
h1 {
    float: left;
    background: #4aaaa5;
    font-family: 'Georgia', Times, "Times New Roman", serif;
    color: white;
    padding: 20px 20px 20px 20px;
    margin-top: 0;
    margin-bottom: 0;
    margin-left: 5%;
    margin-right: 2%;
    border-bottom: 1px solid darkgrey;
}

a {
    text-decoration: none;
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    color: #777777;
    position:relative;
    
}
a:hover {
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    color: #FF407E;
}

div.nav1 {
    float: right;
    right: -1px;
    top: 20px;
    color: #777777;
}
nav {
    width: 30%;
    float:right;
}

#Contact {
    float: right;
    padding: 15px 20px;
}
#portfolio {
    float: right;
    padding: 15px 20px;
    margin-top: auto;
    margin-bottom: auto;
}

#aboutme {
    float: right;
    padding: 15px 20px;
}

.NavLine {
    float: right;
    padding-top: 5%;
}

main {
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    width: 80%;
    background: white;
    margin: 40px auto;
    border: 1px solid #dddddd; 
    overflow: auto;
    padding: 30px;
}


h2 {
    font-family: 'Georgia', Times, "Times New Roman", serif;
    color: #4aaaa5;
    font: Georgia;
    margin: 10px;
}
hr {
    margin: 10px;
}

/**
 *This is the CSS for the About Page 
 **/

#headshot {
    margin: 10px;
    float: left;
}

p {
    float: inherit;
    line-height: 1.5;
    width: 100%;
}

/**
 *This is the CSS for the Portfolio Page
 **/

 .PortfolioBox {
     float: left;
     margin: 5%;
     width: 200px;
     position: relative;
 }   

.pbimg {
    width: 100%;
    position: relative;
}
.stripe {
    float: left;
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    background: #4aaaa5;
    color: white;
    position: absolute;
    bottom: 5%;
    top: 70%;
    width: 100%;
    text-align: center;
    padding: 10%;
}

/** 
 *This is the CSS for the Contact page
    **/

.column{
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    padding: 30;
    line-height: 2.0;
    margin: 15px;
    width: 100%;
}

#fname {
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    width: 100%;
    line-height: 1.5;
}

#email {
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    width: 100%;
    line-height: 1.5;
}

#message {
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    width: 100%;
    line-height: 1.5;
}

#submit {
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    background: #4aaaa5;
    color: white;
    border: 0;
    padding: 10px 20px 10px 20px;
    font-size: 10pt;
    margin: 20;
}

#submit:hover {
    color: #FF407E;
}

.footer {
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    color: lightgrey;
    clear: both;
    padding: 30px 20px 30px 20px;
    text-align: center;
    background: #666666;
    position: fixed;
    border-top: 5px solid #4aaaa5;
    width: 100%;
    bottom: 0;
    height: 30px;
    font-size: 12pt;
  }
   /*
  These rules take effect when the browser's width
  is either 908px or less.
*/
  @media screen and (max-width: 980px) { 
    body {
        background-color: #333;
      }
  
    nav {
        float: right;
        margin-top: 1%;
    }
    div.nav1 {
        background-color: white;
        margin: 0 auto;
        float: right;
    }
    h1 {
        width: 20%;
        margin: 0px;
        margin-left: 10%;
        text-align: center;
        font-size: 120%;
        height:  100%;
    }
    main {
        width: 60%;
        margin-left:10%;
    }
  
    #headshot {
        width: 40%;
    }
  
    #para {
        width: 100%;
    }

    .PortfolioBox {
        width: 40%;
        margin: 5%;
        float: left;
    }

    .pbimg {
        width: 100%;
    }

    .stripe {
        width: 100%;
    }

}
  /*
  These rules take effect when the browser's width
  is either 768px or less.
*/
@media screen and (max-width: 768px) {
    /* The body's bg color will be #333 */
    body {
      background-color: #333;
    }
  
    nav {
        width: 50%;
    }

    h1 {
        width: 30%;
        margin-left: 2%;
    }
    main {
      width: 95%;
      margin: 2%;
    }
  
    #headshot {
        width: 50%;
    }
  
    #para {
        width: 100%;
    }

    .PortfolioBox {
        width: 40%;
        margin: 5%;
    }

    .pbimg {
        width: 100%;
    }

    .stripe {
        width: 100%;
    }

}
  /*
  These rules take effect when the browser's width
  is either 640px or less.
*/
@media screen and (max-width: 640px) {
    /* The body's bg color will be #333 */
    body {
      background-color: #333;
    }

    header {
        width: 100%;
        position: relative;
        height: 50%;
    }
    nav {
        margin: 0 auto;
        text-align: center;
        float: none;
    }
    div.nav1 {
        width: 100%;
        background-color: white;
        margin: 0 auto;
        float: none;
    }
    h1 {
        width: 100%;
        margin: 0px;
        text-align: center;
        font-size: 120%
    }
  
    #headshot {
        width: 100%;
    }
  
    #para {
        width: 100%;
    }

    .PortfolioBox {
        width: 90%;
        margin: 5%;
    }

    .pbimg {
        width: 100%;
    }

    .stripe {
        width: 100%;
    }

}